services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb 
      dockerfile: Dockerfile
    image: mariadb:injo
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    env_file:
      - .env
    restart: always

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress:injo
    depends_on:
      - mariadb
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always
  
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx 
      dockerfile: Dockerfile
    image: nginx:injo
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/html
    networks:
      - inception
    env_file:
      - .env
    restart: always

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/injo/data/wordpress'
  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/injo/data/mariadb'

networks:
  inception:
    driver: bridge